<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.linkedapp">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
    <application android:label="LinkedApp.Android" android:theme="@style/MainTheme">
		<activity  android:label="Linked" android:name="crc642dd4860d110ed29b.LinkedActivity" android:exported="true" android:resizeableActivity="false" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data  android:scheme="Linked" />
			</intent-filter>
		</activity>
	</application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
